{
  "env": {
      "browser": true
  },
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "airbnb-base",
  "plugins": [
    "html",
    "vue"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "build/webpack.base.conf.js"
      }
    }
  },
  "rules": {
    "arrow-parens": ["error", "as-needed", {
      "requireForBlockBody": false,
    }],
    "import/extensions": ["error", "always", {
      "js": "never",
      "vue": "never"
    }]
  }
}
